.categorysMainVisual {
    --channel-board-bg-color: var(--board-bg-color);
}

.tree ul {
    list-style-type: none;
}

.tree a {
    text-decoration: none;
}

.tree summary {
    cursor: default;
    pointer-events: none;
    /* list-style-type: disc; */
}

.tree summary::-webkit-details-marker {
    display: none;
}

.tree details .categoryIcon {
    cursor: pointer;
    pointer-events: all;
    font-size: 1.1rem;
    margin-right: 5px;
    transition: transform 0.2s ease-in-out;
}

.tree>details[open]>summary>.categoryIcon {
    transform: rotate(90deg);
}

.categoryTitle {
    cursor: pointer;
    font-size: 1.2rem;
    pointer-events: all;
}

.categoryCount {
    font-size: 1.1rem;
    pointer-events: all;
    cursor: pointer;
}

.treeUl {
    padding-left: 20px;
}

.treeWrap>ul {
    padding-left: 0;
}

.tree summary {
    /* color: var(--text-color); */
    /* color: var(--title-link-color); */
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.preview-title:not(:hover) {
    color: var(--title-link-color);
}

.tree summary:hover {
    color: var(--link-hover-color);
}