/* color schemes for light and dark theme */

:root {
    color-scheme: light dark;
}

/* light theme */

:root {
    /* html body 主背景顏色 */
    --body-bg-color: #eefcff;
    /* 中央版面背景色: 0; */
    --board-bg-color: #fffd;
    /* 底欄背景顏色 */
    --footer-bg-color: #fcfcfc;

    /* 主文字顏色 */
    --text-color: #405b55;
    /* 二級文字顏色: 0; */
    --sec-text-color: #484646;
    /* 文章正文顏色: 0; */
    --post-text-color: #13201f;
    /* 文章標題顏色: 0; */
    --post-heading-color: #1a202c;
    /* 鼠標指向的文章連結顏色: 0; */
    --post-link-color: #0366d6;
    /* 頁面頂端連結 和文章連結 鼠標指向顏色: 0; */
    --link-hover-color: #4bb2b4;
    --link-hover-bg-color: #f8f9fa88;
    /* 頂欄顏色: 0; */
    --navbar-bg-color: #66a3ba;
    /* 頂欄文字顏色: 0; */
    --navbar-text-color: #fff;
    /* 首頁小書籤背景顏色 */
    --bookmark-bg-color: rgb(252, 238, 219);
}

/* dark theme */
/* dark wine red style */

@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark'
    }

    :root:not([data-user-color-scheme]) {
        --body-bg-color: rgb(23, 22, 23);
        --board-bg-color: #38343a;
        --footer-bg-color: #2c292d;
 
        --text-color: #f4ecf7;
        --sec-text-color: #bfbfbf;
        --post-text-color: #e3e3e3;
        --post-heading-color: #d1d1d1;
        --post-link-color: #F4A5AE;
        --link-hover-color: #dc8dea;
        --link-hover-bg-color: #7d6e8b;
        --navbar-bg-color: #423f4a;
        --navbar-text-color: #f4ecf7;
        --bookmark-bg-color: #7c6c55;
    }

    body img {
        filter: brightness(0.94);
    }
}

[data-user-color-scheme=dark] {
    --body-bg-color: rgb(23, 22, 23);
    --board-bg-color: #322f33;
    --footer-bg-color: #2c292d;

    --text-color: #f4ecf7;
    --sec-text-color: #bfbfbf;
    --post-text-color: #e3e3e3;
    --post-heading-color: #d1d1d1;
    --post-link-color: #F4A5AE;
    --link-hover-color: #dc8dea;
    --link-hover-bg-color: #7d6e8b;
    --navbar-bg-color: #423f4a;
    --navbar-text-color: #f4ecf7;
    --bookmark-bg-color: #7c6c55;

    body img {
        filter: brightness(0.94);
    }
}

