.coverImage {
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    /* max-height: 330px; */
    object-fit: cover;
    aspect-ratio: 16/10;
    width: 100%;
    border-radius: var(--small-board-border-radius);
}

.coverImage:hover {
    /* -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); */

    /* become dark when hover, using filter */
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .coverImage {

        aspect-ratio: 16/8;

    }
}
    
