
.drawGuessH1 {
    --channel-board-bg-color: #fff3ea;
    --channel-board-bg-color-grad: #fff9f4;
    --channel-board-bg-color-dark: #f5e6e6bb;
    --text-color: #561919;
    /* margin: calc(45px) 0 0 0; */
    text-decoration: none !important;
}

/* use global to select the class name in other files */
.drawGuessH1 :global(.mainvisualBgMasked) {
    background-color: #c54933;
    mask-image: url('/site-assets/draw-guess.webp');
    mask-repeat: no-repeat;
    mask-size: auto 135%;
    mask-position: bottom 69% right calc(min(200px, 100% * 0.3 - 200px));
}

.drawGuessH1 > :global(.mainvisualBanner) {
    background-image: 
    linear-gradient(110deg, var(--channel-board-bg-color) 35%, var(--channel-board-bg-color-grad) 50%);

}

.link h1::after {
    content: "\f133";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 0 0 8px;
}

.imgWrap > div {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
}

.drawGuessContents img {
    /* width: var(--draw-guess-img-width, 30%) !important; */
    /* aspect-ratio: 1; */
    height: 100% !important;
    object-fit: cover;
    margin: 0;
    box-shadow: none;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .imgWrap > div {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        height: 100%;
        width: 100%;
        aspect-ratio: unset;
    }
    .drawGuessContents img {
        width: 100%;
        /* aspect-ratio: unset; */
        transform: scale(1.1);
    }
}