.index-header, .index-btm, h1, h2, h3, h4, h5, h6, .category-item, .navbar-brand {
  font-family: 'Noto Serif', "Apple Color Emoji", "Twemoji", 'Noto Serif SC', 'Noto Serif TC', 'Noto Serif HK', 'Noto Serif JP', serif
} 
/* 我覺得段落內英文應該使用 Serif */
body, html, .markdown-body, p, table, ul, ol, #subtitle, ruby { 
  font-family: 'HarmonyOS Sans', "Apple Color Emoji", "Twemoji", 'HarmonyOS Sans SC', 'HarmonyOS Sans TC', 'LINE Seed JP', sans-serif;
} 

.font-serif, .font-serif * {
  font-family: 'Noto Serif', "Apple Color Emoji", "Twemoji", 'Noto Serif SC', 'Noto Serif TC', 'Noto Serif HK', 'Noto Serif JP', serif;
} 

.markdown-body code, .markdown-body pre {
  font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', "Apple Color Emoji", "Twemoji", 'HarmonyOS Sans SC', 'HarmonyOS Sans TC', 'LINE Seed JP', monospace;
}