.index-header, .index-btm, h1, h2, h3, h4, h5, h6, .category-item, .navbar-brand {
  font-family: 'Noto Serif', "Apple Color Emoji", "Twemoji", 'Noto Serif SC', 'Noto Serif TC', 'Noto Serif JP', sans-serif;
} 
/* 我覺得段落內英文應該使用 Serif */
p, table, ul, ol, #subtitle, .myfont { 
  font-family: 'Noto Serif', "Apple Color Emoji", "Twemoji", 'Noto sans SC', 'Noto sans TC', 'Noto sans JP', sans-serif;
} 

.font-serif, .font-serif * {
  font-family: 'Noto Serif', "Apple Color Emoji", "Twemoji", 'Noto Serif SC', 'Noto Serif TC', 'Noto Serif HK', 'Noto Serif JP', sans-serif;
} 