.navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);


}

.navbarText {
    color: var(--navbar-text-color)!important;
    font-size: 1.5rem;
    /* font-size: 125%; */
}

.navbarBrand, .navbarBrand * {
    color: var(--navbar-text-color)!important;
    font-size: 1.5rem;
}

.navbarNav > * {
    letter-spacing: .05em;
    font-size: 16px;
    margin-right: 8px;
    border-radius: 5px;
    transition: background-color .1s ease-in-out;
}

.navbarNav > *:hover {
    background-color: var(--link-hover-bg-color);
}

.navbarNav > * > a, .offcanvasTitle {
    padding: 8px;
} 

.navbarToggle {
    color: var(--navbar-text-color)!important;
    border: none!important;

}

.logo {
    --mask-image: url(/logo.webp);
    display: inline-block;
    background-color: currentColor;
    height: 1em;
    width: auto;
    aspect-ratio: 1;
    margin-right: 0.1em;
    vertical-align: middle;
    -webkit-mask-image: var(--mask-image);
	mask-image: var(--mask-image);
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.navLeftSpace {
    width: 2.25rem;
}


.navbarOffcanvas {
    background-color: var(--navbar-bg-color)!important;
    color: var(--navbar-text-color);
}