.heropost {
    display: flex;
}

.heroCoverImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.heroExcerpt {
    /* font-size: 125%; */
}

.heroContainer {
    max-width: 1500px;

}

.featuredTitle {
    margin-bottom: 0!important;
}

.postContainer {
    position: relative;
    overflow: hidden;
    border-radius: var(--large-board-border-radius);
}

.coverImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.coverImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.postContent{
    position: relative;
    z-index: 2;
    padding: 1rem;

    /* up to down linear gradient */
    background: linear-gradient(rgba(19, 19, 19, 0) 45%, rgba(9, 9, 9, 0.6) 70%, rgba(0, 0, 0, 0.8));

    pointer-events: none;

    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 16/8;
}

.hr {
    width: 40%;
    height: 1px;
    margin: 12px 0 12px 0;
    opacity: 0.5;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}



@media screen and (max-width: 768px) {
    .postContent {
        aspect-ratio: 16/16;
    }

}
    
.bookmarkContainer {
    pointer-events: none;
    position: relative;
    margin: 1.5rem 0 0 0;
}

.bookmarkContainer > * {
    pointer-events: all;
}

.bookmark {
    max-width: 50%;
    width: 300px;
    height: 60px;
    background-color: antiquewhite;
    position: relative;
    border-radius: var(--small-board-border-radius) var(--small-board-border-radius) 0 0;
}

.bookmark h2 {
    margin: 0;
}

.sectionTitle {
    margin: 0; 
}

.sectionTitle h2 {
   display: inline-block;
}

.viewAllHr {
    opacity: 0.6;
    width: 160px;
    height: 2px;
    background-color: var(--text-color);;
}

.linksBody {
    margin: 0 auto;
    padding: 25px;
    /*width : 95%;*/
}