.heropost {
    display: flex;
}

.heroCoverImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.heroExcerpt {
    /* font-size: 125%; */
}

.heroContainer {
    max-width: 1500px;
    --text-color: #fff;
}

.featuredTitle {
    margin-bottom: 0 !important;
}

.postContainer {
    position: relative;
    overflow: hidden;
    border-radius: var(--large-board-border-radius);
}

.coverImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.coverImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.postContent {
    position: relative;
    z-index: 2;
    padding: 1rem;

    /* up to down linear gradient */
    background: linear-gradient(rgba(19, 19, 19, 0) 45%, rgba(9, 9, 9, 0.6) 70%, rgba(0, 0, 0, 0.8));

    pointer-events: none;

    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 16/8;
}

.hr {
    width: 40%;
    height: 1px;
    margin: 12px 0 12px 0;
    opacity: 0.5;
    background: var(--text-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}



@media screen and (max-width: 768px) {
    .postContent {
        aspect-ratio: 16/16;
    }

}

.viewAllHr {
    opacity: 0.6;
    width: 160px;
    height: 2px;
    background-color: var(--text-color);
    ;
}

.linksBody {
    margin: 0 auto;
    padding: 25px;
    /*width : 95%;*/
}