.links{
    position: relative;
    z-index: 10;
}

.linkAvatar {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.75rem;
    object-fit: cover;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.linkAvatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    object-fit: cover;
}

.LinksBody{
    margin : 0 auto;
    padding : 2.5em;
    /*width : 95%;*/
}

.LinksBodyTitle{
    font-size: 1.75rem;
    font-style: italic;
    margin-left : 0.5rem;
    margin-top: 0.9rem;
    min-width: 200px;
    font-weight: 700!important;
}
.link{
    /*align-items: center;*/
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.3rem;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.link:hover{
    color:  black;
}


.link:hover .linkTitle {
    color: var(--link-hover-color);

}

.link:hover .linkAvatar {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.linkTitle{
    font-size:1.1em;
    font-family: 'Noto sans','Noto sans SC','Noto sans TC','Noto sans JP',sans-serif;
    font-weight: 700!important;
}
.linkInfo{
    font-size:1em;
}
.linksBoard{
    margin-top: 5em;

    color: var(--text-color);

}
.TitleBox{

    max-width: 50%;
    width: 300px;
    height: 60px;
    background-color: antiquewhite;
    position: relative;
    border-radius: var(--small-board-border-radius) var(--small-board-border-radius) 0 0;
    margin-left: 3rem!important;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}



.linkIcon  {
    margin-left: 1rem;
    font-style: italic;
    font-size: 2.5rem;
    width: 2em;
    height: 2em;
}
