.linkAvatar {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.9rem;
    object-fit: cover;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    flex: none;
}

.linkAvatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    object-fit: cover;
}

.linkText {
    flex: 1 1 auto;
    display: grid;
    flex-direction: column;
}

.linkRow {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 3.5rem;
}

.link {
    /* align-items: center; */
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.3rem;
    display: block;
    width: 100%;
    /* height: 100%; */
    text-decoration: none;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.link:hover {
    color: black;
    background-color: rgb(226, 234, 234);

}


.link:hover .linkTitle {
    color: var(--link-hover-color);

}

.link:hover .linkAvatar {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.linkTitle {
    font-size: 1.1em;
    /* font-family: 'Noto sans', 'Noto sans SC', 'Noto sans TC', 'Noto sans JP', sans-serif;
    font-weight: 700 !important; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.linkInfo {
    font-size: 1em;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

