:root {
  --large-board-border-radius: 16px;
  --small-board-border-radius: 10px;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0;
  padding: 0;

  /* background-image: 
  repeating-radial-gradient( circle at -50% 150%, transparent 0, #e5f7f4 50px ), 
  repeating-linear-gradient( #44ebf755, var(--navbar-bg-color) );*/
  /* background-image: url('/site-assets/confetti-pattern.svg'); */
  background:
    radial-gradient(
      circle  at 50% -80%,
      #00000000 80%,
      var(--body-bg-color-grad) 130%
    ) fixed, var(--body-bg-color);
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  color: var(--post-heading-color);
}

.smart-image {
  /* max-width: 95%; */
  height: auto;
  /* width: auto; */
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.o-hidden {
  overflow: hidden;
}

body a {
  /* color: var(--text-color); */
  color: var(--title-link-color);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.preview-title:not(:hover) {
  color: var(--title-link-color);
}

body a:hover {
  color: var(--link-hover-color);
}

.container-board {
  position: relative;
  background-color: var(--board-bg-color);
  /* overflow: hidden; */
  border-radius: var(--large-board-border-radius);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.box-shadow {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}