.banner {
    min-height: 300px;
    background-color: var(--channel-board-bg-color);
    position: relative;
    overflow: hidden;
    color: var(--text-color);
}

.banner .bgMasked {
    position: absolute;
    z-index: -1;
}