.member{
    /* background-color: azure; */
    float: left;
}
.body{
    margin-top: 200px;
    height: auto;
    width: 80%;
    float: left;
    margin-left: 10%;
     /*background-color: aquamarine;*/
}

.banner{
    width: 100%;
    background-color: rgb(90, 110, 221);
    height: 100px;
    position: fixed;
}
.banner_name{
    height: 50px;
    float: left;
    text-align: center;
}
.card{
    float: left;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
}
.photo{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
}
.card_name{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}
.card_bio{
    font-size: 20px;

}
