.vndbWrapper {
    min-width: 300px;
    border-radius: 25px;
    background-color: #ba9af3;
    padding: 0.5rem;
    margin: 0.5rem;
    overflow: hidden;
}

.infoContainer{
    background: transparent;
}

.dataContainer{
    background: transparent;
}

.rating{
    background: transparent;
}

.details{
    background: transparent;
}

.releases{
    background: transparent;
}
.ScoreVotesPieChart{
}
.ScoreVotesHistogramChart{
}
.ScoreVotesInfo{
    padding: 100px 0;
}
.ScoreVotes{
}
.Title{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.325rem + .9vw);
    text-align: center;
    font-family: 'Noto Serif', 'Noto Serif SC', 'Noto Serif TC', 'Noto Serif JP', sans-serif;
    color: var(--text-color);
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

}
.ZhPatchInfo{
    height:250px
}
.Patch{
    font-size: 12px;
    margin-top: 5px
}
.BasicInfoData{
    height:250px
}
